{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="submit-report" class="submit-report">
    <div class="container" data-aos="fade-up">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-lg-12">
                <h2>Submit Report</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="File Name">
                    </div>
                    <div class="mb-3">
                        <label for="version" class="form-label">Version</label>
                        <input type="text" class="form-control" id="version" name="version" placeholder="File Version">
                    </div>
                    <div class="mb-3">
                        <label for="author" class="form-label">Author</label>
                        <input type="text" class="form-control" id="author" name="author" placeholder="File Author">
                    </div>
                    <div class="mb-3">
                        <label for="language" class="form-label">Language</label>
                        <input type="text" class="form-control" id="language" name="language" value="Programming Language" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="architecture" class="form-label">Architecture</label>
                        <input type="text" class="form-control" id="architecture" name="architecture" value="{{ language_name }}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="platform" class="form-label">Platform</label>
                        <input type="text" class="form-control" id="platform" name="platform" placeholder="File Platform">
                    </div>
                    <div class="mb-3">
                        <label for="comments" class="form-label">Comments</label>
                        <textarea class="form-control" id="comments" name="comments" placeholder="{{ signatures }}" rows="8"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="tags" class="form-label">Tags</label>
                        <input type="text" class="form-control" id="tags" name="tags" placeholder="Malware">
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
                
            </div>
        </div>
    </div>
</section>
{% endblock %}
